<kendo-grid [data]="gridData" [height]="300">

  <kendo-grid-column title="Job Group"></kendo-grid-column>
  <kendo-grid-column title="Operation Id"></kendo-grid-column>
  <kendo-grid-column title="Operation Name"></kendo-grid-column>
  <kendo-grid-column title="Operation Type"></kendo-grid-column>
  <kendo-grid-column title="Department"></kendo-grid-column>
  <kendo-grid-column title="Department"></kendo-grid-column>
  <kendo-grid-column title="SMV"></kendo-grid-column>
  <kendo-grid-column title="Sequence/Parallel"></kendo-grid-column>

  <ng-template kendoGridDetailTemplate let-dataItem>
    <tr *ngFor="let item of dataItem.operations">
      <td kendogridcell [attr.rowspan]="dataItem.operations.length">{{ dataItem.jobGroup }}</td>
      <td>{{ item.operationId }}</td>
      <td>{{ item.operationName }}</td>
      <td>{{ item.operationType }}</td>
      <td>{{ item.department }}</td>
      <td>{{ item.smv }}</td>
      <td>{{ item.sequence }}</td>
    </tr>
  </ng-template>

  <!-- <kendo-grid-column title="Job Group" field="jobGroup">
        <ng-template kendoGridCellTemplate>
            <kendo-grid-column field="operationId" title="Operation Id">
            </kendo-grid-column>
        </ng-template>
    </kendo-grid-column> -->
  <!-- 
  <kendo-grid-column
    field="operationId"
    title="Operation Id"
    [width]="150"
    [headerStyle]="{ 'background-color': '#32a852' }"
    [headerClass]="'headerCustomClass'"
  >
  </kendo-grid-column>
  <kendo-grid-column
    field="operationName"
    title="Operation Name"
    [headerStyle]="{ 'background-color': '#32a852' }"
    [headerClass]="'headerCustomClass'"
  >
  </kendo-grid-column>
  <kendo-grid-column
    field="operationType"
    title="Operation Type"
    [headerStyle]="{ 'background-color': '#32a852' }"
    [headerClass]="'headerCustomClass'"
  >
  </kendo-grid-column>
  <kendo-grid-column
    field="department"
    title="Department"
    [headerStyle]="{ 'background-color': '#32a852' }"
    [headerClass]="'headerCustomClass'"
  >
  </kendo-grid-column>
  <kendo-grid-column
    field="smv"
    title="SMV"
    [headerStyle]="{ 'background-color': '#32a852' }"
    [headerClass]="'headerCustomClass'"
  >
  </kendo-grid-column>
  <kendo-grid-column
    field="sequence"
    title="Sequence/Parallel"
    [headerStyle]="{ 'background-color': '#32a852' }"
    [headerClass]="'headerCustomClass'"
  >
  </kendo-grid-column> -->
</kendo-grid>

<br>
<br>
<br>

<ag-grid-angular style="width: 1400px; height: 500px;" class="ag-theme-alpine" [rowData]="rowData"
  [columnDefs]="columnDefs" [suppressRowTransform]="true" (rowDragMove)="onRowDragMove($event)"
  (gridReady)="onGridReady($event)" [animateRows]="true" [getRowId]="getRowId" [rowData]="rowData">
</ag-grid-angular>