<h4>Create operation routing</h4>
<kendo-gridlayout [gap]="{ rows: 10, cols: 30 }" [rows]="[
          { height: 40 },
          { height: 40 }
        ]"
  [cols]="[{ width: 80 }, { width: 270 }, { width: 150 }, { width: 270 }, { width: 80 }, { width: 270 }, { width: 150 }, { width: 270 }]">

  <kendo-gridlayout-item [row]="1" [col]="1">
    <kendo-label text="Style">
    </kendo-label>
  </kendo-gridlayout-item>

  <kendo-gridlayout-item [row]="1" [col]="2">
    <kendo-dropdownlist [data]="[]" value="" placeholder="Style A">
    </kendo-dropdownlist>
  </kendo-gridlayout-item>

  <kendo-gridlayout-item [row]="1" [col]="3">
    <kendo-label text="Structure type">
    </kendo-label>
  </kendo-gridlayout-item>

  <kendo-gridlayout-item [row]="1" [col]="4">
    <kendo-dropdownlist [data]="[]" value="" placeholder="0001">
    </kendo-dropdownlist>
  </kendo-gridlayout-item>

  <kendo-gridlayout-item [row]="1" [col]="5">
    <kendo-label text="Colour">
    </kendo-label>
  </kendo-gridlayout-item>

  <kendo-gridlayout-item [row]="1" [col]="6">
    <kendo-dropdownlist [data]="[]" value="" placeholder="Red">
    </kendo-dropdownlist>
  </kendo-gridlayout-item>

  <kendo-gridlayout-item [row]="1" [col]="8">
    <button kendoButton [primary]="true">
      RESET ALL
    </button>
  </kendo-gridlayout-item>

  <kendo-gridlayout-item [row]="2" [col]="1">
    <kendo-label text="Template">
    </kendo-label>
  </kendo-gridlayout-item>

  <kendo-gridlayout-item [row]="2" [col]="2">
    <kendo-dropdownlist [data]="[]" value="" placeholder="Template B">
    </kendo-dropdownlist>
  </kendo-gridlayout-item>

</kendo-gridlayout>

<ag-grid-angular style="width: 1610px; height: 500px;" class="ag-theme-alpine" [rowData]="rowData"
  [columnDefs]="columnDefs" [suppressRowTransform]="true" (rowDragMove)="onRowDragMove($event)"
  (gridReady)="onGridReady($event)" [animateRows]="true" [getRowId]="getRowId" [rowData]="rowData"
  [frameworkComponents]="frameworkComponents">
</ag-grid-angular>

<kendo-gridlayout [gap]="{ rows: 10, cols: 30 }" [rows]="[
          { height: 10 },
          { height: 40 }
        ]"
  [cols]="[{ width: 80 }, { width: 270 }, { width: 150 }, { width: 270 }, { width: 80 }, { width: 270 }, { width: 150 }, { width: 270 }]">

  <kendo-gridlayout-item [row]="2" [col]="8">
    <button kendoButton [primary]="true" (click)="open()">
      CREATE
    </button>
  </kendo-gridlayout-item>

</kendo-gridlayout>

<app-select-op-template [opTemplateModal]="opTemplateModal" (closeEvent)="close()"></app-select-op-template>